<div class="create-container container">
  <div class="col-md-12">
  <!--This is the createcharacter view.
  
  HI {{owner().name}}-->
  
  <h2>Character Info</h2>
  <form>
    <div class="form-group">
      <label for="nameInputField">Character name</label>
      <input type="text" class="form-control" id="nameInputField" ng-model="character.name" placeholder="Enter name">
    </div>
  
    <div class="form-group">
      <label for="ownerInput">Owner</label>
      <input type="text" class="form-control" id="ownerInput" ng-model="character.owner" placeholder="{{owner().name}}" disabled>
    </div>
  
    <!--ST DX IQ HT INPUTS-->
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="stInput">Strength</label>
          <input type="text" class="form-control" id="stInput" ng-model="character.st" placeholder="0">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="dxInput">Dexterity</label>
          <input type="text" class="form-control" id="dxInput" ng-model="character.dx"placeholder="0">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="iqInput">IQ</label>
          <input type="text" class="form-control" id="iqInput" ng-model="character.iq"placeholder="0">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="htInput">Health</label>
          <input type="text" class="form-control" id="htInput" ng-model="character.ht"placeholder="0">
        </div>
      </div>
    </div>
  
    <!--HP WILL PER FP INPUTS-->
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="hpInput">Health Points</label>
          <input type="text" class="form-control" id="hpInput" ng-model="character.hp" placeholder="0">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="willInput">Willpower</label>
          <input type="text" class="form-control" id="willInput" ng-model="character.will" placeholder="0">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="perInput">Perception</label>
          <input type="text" class="form-control" id="perInput" ng-model="character.per" placeholder="0">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="fpInput">FP</label>
          <input type="text" class="form-control" id="fpInput" ng-model="character.fp" placeholder="0">
        </div>
      </div>
    </div>
  </form>
  
  
  <!--         -->
  <!--Languages display-->
  <!--         -->
  <h2>Languages</h2>
  <div ng-repeat="language in languagelist" class="row">
    <form class="form-inline">
      <div class="form-group col-md-3">
        <label class="control-label">Name</label>
        <div class="">
          <p class="form-control-static">{{language.name}}</p>
        </div>
      </div>
  
      <div class="form-group col-md-3">
        <label for="inputPassword" class="control-label">Spoken</label>
        <div class="">
          <p class="form-control-static">{{language.spoken}}</p>
        </div>
      </div>
  
      <div class="form-group col-md-3">
        <label for="inputPassword" class="control-label">Written</label>
        <div class="">
          <p class="form-control-static">{{language.written}}</p>
        </div>
      </div>
  
      <button class="btn btn-danger" ng-click="removeLanguage(language)">Remove</button>
  
    </form>
  </div>
  
  <!--         -->
  <!--Languages input -->
  <!--         -->
  <form class="form-inline">

    <div class="form-group">
      <label for="languageNameInput">Name</label>
      <input id="languageNameInput" type="text" class="form-control" ng-model="language.name"></input>
    </div>

    <div class="form-group">
      <label for="languageSpokenInput">Spoken</label>
      <input type="text" id="languageSpokenInput" ng-model="language.spoken" class="form-control"></input>
    </div>

    <div class="form-group">
      <label for="languageWrittenInput">Written</label>
      <input type="text" ng-model="language.written" id="languageWrittenInput" class="form-control"></input>
    </div>

    <button ng-click="addLanguageToList(language)" class="btn btn-success">Add </button>

  </form>
  
  <!--         -->
  <!--Advantages-->
  <!--         -->
  <h2>Advantages</h2>
  <div class="prop-list" ng-repeat="advantage in advantagelist">
    <div class="name">
      {{advantage}}   
    </div>
    <div class="vertical-spacer"></div>
    <div class="control">
      <button class="btn btn-danger" ng-click="removeAdvantage(advantage)">Remove</button>
    </div>
  </div>
  
  <form class="form-inline">

    <div class="form-group">
      <label for="advantageInput">Advantage</label>
      <input id="advantageInput" type="text" class="form-control" ng-model="advantage"></input>
    </div>

    <button ng-click="addAdvantageToList(advantage)" class="btn btn-success">Add </button>

  </form>

  <!--         -->
  <!--Disadvantages-->
  <!--         -->
  <h2>Disadvantages</h2>
  <div class="prop-list" ng-repeat="disadvantage in disadvantagelist">
    <div class="name">
      {{disadvantage}}   
    </div>
    <div class="vertical-spacer"></div>
    <div class="control">
      <button class="btn btn-danger" ng-click="removeDisadvantage(disadvantage)">Remove</button>
    </div>
  </div>
  
  <form class="form-inline">

    <div class="form-group">
      <label for="disadvantageInput">Disadvantage</label>
      <input id="disadvantageInput" type="text" class="form-control" ng-model="disadvantage"></input>
    </div>

    <button ng-click="addDisadvantageToList(disadvantage)" class="btn btn-success">Add </button>

  </form>

  <!--         -->
  <!--Skills   -->
  <!--         -->
  <h2>Skills</h2>
  <div class="prop-list" ng-repeat="skill in skilllist">
    <div class="name">
      {{skill}}   
    </div>
    <div class="vertical-spacer"></div>
    <div class="control">
      <button class="btn btn-danger" ng-click="removeSkill(skill)">Remove</button>
    </div>
  </div>
  
  <form class="form-inline">

    <div class="form-group">
      <label for="skillsInput">Skill</label>
      <input id="skillsInput" type="text" class="form-control" ng-model="skill"></input>
    </div>

    <button ng-click="addSkillToList(skill)" class="btn btn-success">Add </button>

  </form>

<!--
  <div ng-repeat="lang in languagelist">{{lang.name}}</div>-->

  <!-- <button ng-click="addLanguageListToCharacter(languagelist)" class="btn btn-success">Add listtochar</button> -->

  <!--{{character}}

  languages: {{languagelist}}

  advantages: {{advantagelist}}

  disadvantages: {{disadvantagelist}}

  skills: {{skilllist}}-->
  <hr>
  <button ng-click="magic()" class="btn btn-success">Erstellen</button>
  
  </div>
</div>
