.charactercontent{
  color: $ultrabright;
}

.character-main{
  background-color: green;
}

.character-detail-main{
  background-color: $darker;
}

.heading{
  font-size: 30px;
  margin-bottom: 20px;
}

.ownership{
  font-size: 20px;
  color: $superbright;
}

.statHeader{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.statValue{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: $superbright;
}

.statContainer{
  border: 2px solid $bright;
  margin-bottom: 15px;
}

.strength-container{
  border-color: $statsred;
  background: linear-gradient(182deg, #292727, #b50d18);
  background-size: 200% 200%;
}

.dexterity-container{
  border-color: $statsgreen;
  background: linear-gradient(182deg, #292727, $statsgreen);
  background-size: 200% 200%;
}

.intelligence-container{
  border-color: $statsblue;
  background: linear-gradient(182deg, #292727, $statsblue);
  background-size: 200% 200%;
}

.health-container{
  border-color: $statsbrown;
  background: linear-gradient(182deg, #292727, $statsbrown);
  background-size: 200% 200%;
}

.statValueSmall{
  // text-align: right;
  float:right;
  margin-right: 10px;
}

.statLabel{
  margin-left: 10px;
  border-bottom: 1px solid $bright;
}
