<div class="col-md-12 character-main">
  <div class="page-header">
    <h1>Character sheets <small> Your characters</small></h1>
  </div>
  
  <div class="col-md-6">
    <div ng-repeat="chars in ownCharacters">
      <div class="col-md-6">{{chars.name}}</div>
      <div class="col-md-6">
        <a ui-sref="characterDetails({charid : chars._id})">
          <button class="btn btn-success">View</button>  
        </a>
        <button class="btn btn-success">Edit</button>
        <button class="btn btn-success">Delete</button>  
      </div> 
    </div>
  </div>
  <div class="col-md-6"></div>
  
  <a ui-sref="createcharacter">
    <button class="btn btn-success">Create new Character</button>
  </a>
  
  <div class="page-header">
    <h1>Character sheets <small> All public characters</small></h1>
  </div>
  
  <div class="col-md-6">
    <div ng-repeat="chars in charactersdb">
      <div class="col-md-6">{{chars.name}}</div>
      <div class="col-md-6">
        <a ui-sref="characterDetails({charid : chars._id})">
          <button class="btn btn-success">View</button>  
        </a>
      </div> 
    </div>
  </div>
</div>
